@{
    ViewBag.Title = "thanks";
    Layout = "~/Views/Shared/LayoutPage1.cshtml";
    var qt = Session["Total"];
}
<div id="templatemo_content_right">
    <div class="cleaner_with_width">&nbsp;</div>
             <div class="cleaner_with_height">&nbsp;</div>

         <h3>Thankyou for buying our Products........</h3>
     
    </div>