
@{
    ViewBag.Title = "UserProfile";
    var i=0;

    Layout = "~/Views/Shared/LayoutPage1.cshtml";
}
<div id="templatemo_content_right">
    
@foreach(var x in Model)
{
    if(x.Quantity!=0)
    {
        
        	<div class="templatemo_product_box">
            	<h1>@x.Name <span>(by @x.Author)</span></h1>
   	      <img src="@x.Images.Substring(1)" alt="image" />
                <div class="product_info">
    
                	<p>@x.SmallDes</p>
                  <h3>$@x.Price</h3>
                    <div class="detail_button"><a  href="/Book/BookDetail?Id=@x.Id">Detail</a></div>
                    <div class="buy_now_button"><a href="/User/Buy?Id=@x.Id">Buy Now</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
           
        if(i%2==0)
        {              
            <div class="cleaner_with_width">&nbsp;</div>
        }
        else
        {
             <div class="cleaner_with_height">&nbsp;</div>
        }
    i++;
    }
}

            
           
            
            <a href="subpage.html"><img src="~/images/templatemo_ads.jpg" alt="ads" /></a>
        </div> <!-- end of content right -->
